body {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* margin-top: 100px; */
}
.container #instructions {
    margin-top:125px; width:50%; text-align:center;
}
.container #start {
    background-color:darkgreen;
    width: 75px;
    height: 40px;
    color: cornsilk;
    font-size: larger;
    margin-top: 25px;
}

#buttonContainer {
    display:flex; width:100px; flex-wrap:wrap; height:200px; align-items:center;
}

#timer {
    position: absolute;
    right: 25px;
}